@import '../../../common';

:host {
  display: block;
  text-align: center;
}

.cta {
  width: 200px;
  height: 200px;
  display: inline-block;
  background: $text-color;
  margin: 10px;
  color: $text-color;
}
