@import '../../../common';

:host {
  @include component(contain, flex);
  @include page-content-width;
  justify-content: center;
  border-radius: $border-radius;
  border: $border-basic $color-text;

  @include mobile {
    flex-direction: column;
  }
}

.cta {
  min-width: 33%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $font-title;
  text-transform: uppercase;
  border-right: $border-basic $color-text;
  font-size: $font-size-cta;

  @include mobile {
    border-bottom: $border-basic $color-text;
    border-right: 0;
  }

  &:last-of-type {
    border-right: 0;

    @include mobile {
      border-bottom: 0;
    }
  }

  .cta-title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-cta-title;
    font-style: italic;
    font-weight: 400;
    overflow: hidden;
  }

  .cta-link {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text;
    font-size: $font-size;
    text-decoration: none;
    border-top: $border-basic $color-text;

    .fa {
      margin-left: 10px;
      font-size: $font-size;
    }

    &:hover {
      color: $color-bg;
      background-color: $color-text;
    }
  }

  // width: 200px;
  // height: 200px;
  // display: flex;
  // background: $call-bg;
  // margin: 10px;
  // color: $color-text;
  // justify-content: center;
  // align-items: center;
  // border-radius: 5px;
  // font-family: 'Oswald', sans-serif;
  // font-style: italic;
  // font-weight: 400;
  // text-transform: uppercase;
  // font-size: 40px;
  // text-align: center;
  // text-decoration: none;
  // padding: 20px;
  // flex-shrink: 0;

  // &:hover {
  //   @include gradient($call-bg-hover, $call-bg);
  // }
}
