@import '../../common';

:host {
  @include component(initial);
  color: $color-text;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.asm-header {
  margin-top: 20px;
  font-family: $font-title;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: transform .3s ease;

  @include mobile {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  .logo-container {
    align-items: center;
    border-radius: 0 $border-radius $border-radius 0;
    color: $color-text;
    display: flex;
    flex-shrink: 0;
    height: $menu-big-height;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 0;
    position: relative;

    &:before {
      @include header-gradient;
      content: '';
      border-radius: 0 $border-radius $border-radius 0;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: 100% 0;
      transform: skewX(-15deg);
      width: 100%;
      z-index: -1;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .logo {
      max-width: 160px;
    }
  }

  .header-left,
  .header-right {
    @include header-gradient;
    height: $menu-big-height;
    flex-grow: 1;
  }

  .header-right {
    @include skewed;
    border-radius: $border-radius;
    margin: 0 -15px 0 -19px;
    min-width: 20px;
  }

  .header-center {
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    width: $width-page-content;

    .header-inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .header-upper {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: -3px;
        margin: 0 0 1px -3px;

        .highlight-button {
          @include skewed;
          @include header-gradient;
          align-items: center;
          border-radius: $border-radius;
          border: 2px solid $color-bg;
          box-sizing: border-box;
          color: $color-accent;
          cursor: pointer;
          display: flex;
          font-size: $font-size-text;
          height: $menu-small-height;

          .button-inner-wrapper {
            align-items: center;
            border-radius: $border-radius;
            border: $border-basic rgba($color-accent, .6);
            box-sizing: border-box;
            display: flex;
            height: 100%;
            overflow: hidden;
            position: relative;
            text-shadow: 0 -2px rgba($color-bg, .2);
            transform: skew(0deg);

            .icon {
              @include gradient-top($color-accent);
              height: 100%;
              width: 40px;
              transform: skew(0deg);
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                margin-bottom: 1px;
              }
            }

            .title {
              display: block;
              padding: 0 20px;
              font-style: italic;
              text-transform: uppercase;
              margin-bottom: 1px;
            }

            &:before {
              display: none;
              text-align: center;
              text-shadow: 0 -1px rgba($color-bg, .4);
              font-family: $font-family-icon;
              position: absolute;
              align-items: center;
              justify-content: center;
              top: 0;
              bottom: 0;
              left: -15px;
              right: -15px;
              color: $color-text;
              transition: background .1s .1s ease-in-out;
              transform: skew(15deg);
            }
          }

          &:hover {
            .button-inner-wrapper {
              &:before {
                @include gradient($color-accent, $color-accent-dark);
                display: flex;
                z-index: 1;
                transition: background .1s .2s ease-in-out;
              }
            }
          }

          &.tickets {
            margin-right: 16px;
            margin-left: 2px;
            color: $color-ticket;

            .button-inner-wrapper {
              border-color: rgba($color-ticket, .6);

              .icon {
                @include gradient-top($color-ticket);
              }

              &:before {
                @include gradient($color-ticket, $color-ticket-alt);
              }
            }
          }
        }

        .search-container {
          @include header-gradient;
          align-items: center;
          border-radius: $border-radius;
          display: flex;
          flex-grow: 1;
          height: $menu-small-height;
          margin-left: 2px;
          padding-left: 15px;
          position: relative;
          transform: skew(-15deg);

          .button {
            align-items: center;
            border-radius: $border-radius;
            color: $color-accent;
            cursor: pointer;
            display: flex;
            height: 37px;
            justify-content: center;
            margin-right: 2px;
            text-shadow: 0 -2px rgba($color-bg, .2);
            transform: skew(0deg);
            transition: background-color .1s ease-in-out;
            width: 37px;

            &:hover {
              background-color: $color-accent;
              color: $color-text;
              transition: background-color .1s ease-in-out;
            }

            * {
              transform: skew(15deg);
            }
          }

          .search-bar {
            height: 100%;
            display: inline-block;
            flex-grow: 1;
          }
        }
      }

      .header-lower {
        @include header-gradient;
        align-items: center;
        border-radius: $border-radius;
        display: flex;
        flex-grow: 1;
        height: $menu-small-height;
        justify-content: space-between;
        margin: 0 27px 0 -15px;
        padding: 0 20px;
        transform: skew(-15deg);

        asm-social-media,
        asm-menu {
          transform: skew(15deg);
        }
      }
    }
  }

  &.scroll {
    transform: translateY(-150%);

    &[data-scroll-direction='up'] {
      transform: translateY(0);
    }

    .header-left,
    .header-right,
    .logo-container:before {
      @include header-gradient;
    }

    .header-left,
    .header-right,
    .logo-container {
      height: $menu-small-height !important;
      transition: height .1s ease;
    }

    .header-center {
      height: $menu-small-height !important;

      .header-inner {
        .header-upper {
          display: none !important;
        }

        .header-lower {
          margin: 0 20px 0 -4px !important;
        }
      }
    }
  }

  &.mobile {
    @include header-gradient;
    height: $menu-big-height;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;

    .menu {
      background-color: transparent;
      color: $color-text;
      padding: 0 2em;
      border: 0;
      outline: 0;

      .fa {
        font-size: $font-size-mobile-menu-button;
      }
    }

    &.scroll {
      .logo-container {
        height: $menu-big-height !important;
      }
    }
  }
}
