<div class="asm-header" [class.scroll]="scrolling">
  <div class="header-left"></div>
  <div class="header-center">
    <div class="logo-container">
      <a [href]="'/' + event?.name">
        <img class="logo" [src]="getLogo()" alt="{{event?.logo?.fields?.title}}">
      </a>
    </div>
    <div class="header-inner">
      <div class="header-upper">
        <a class="highlight-button" *ngFor="let item of getMenuItems((header$ | async)?.items, true)" [href]="getUrl(item)">
          <div class="button-inner-wrapper {{item.icon}}">
            <span class="icon">
              <i class="fa {{item.icon}}"></i>
            </span>
            <span class="title">{{item.title}}</span>
          </div>
        </a>
        <div class="search-container">
          <div class="search-bar">
            <p></p>
          </div>
          <div class="button">
            <i class="fa fa-search"></i>
          </div>
          <div class="button">
            <span>ENG</span>
          </div>
        </div>
        <a href="//tickets.assembly.org" class="highlight-button tickets" target="_blank">
          <div class="button-inner-wrapper fa-ticket">
            <span class="icon">
              <i class="fa fa-ticket"></i>
            </span>
            <span class="title">Tickets</span>
          </div>
        </a>
      </div>
      <div class="header-lower">
        <div class="menu">
          <span *ngFor="let item of getMenuItems((header$ | async)?.items)">
            <a [href]="getUrl(item)" (click)="onNavigation(item, $event)">{{item.title}}</a>
          </span>
        </div>
        <asm-social-media></asm-social-media>
      </div>
    </div>
  </div>
  <div class="header-right"></div>
</div>