@import '../../mixins';

:host {
  @include component;
  border: 1px solid #aaa;
  background-color: #000;
  color: #fff;
}

h1 {
  display: inline-block;
}

.logo {
  width: 180px;
  padding-top: 10px;
  padding-left: 8px;
}
