@import '../../common';

:host {
  @include component;
}

.asm-footer {
  font-family: $font-text;

  a {
    color: $color-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-upper {
    background-color: $color-black;
    padding: 65px 0;
    width: 100%;
    color: $color-text;

    .centered-block {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 20px;
    }

    .menublock {
      width: 250px;
      padding-right: 20px;
      flex-grow: 1;

      h4 {
        font-family: $font-title;
        border-bottom: $color-accent-light $border-basic;
        color: $color-accent-light;
        text-transform: uppercase;
        font-size: $font-size-footer-h4;
        padding-bottom: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        margin: 0;
        margin-top: 21px;
      }

      //&:last-child {
        //margin-right: 0;
      //}

      @include tablet {
        width: 45%;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      @include mobile {
        width: 100%;
        //margin-right: 0;
      }
    }
  }

  .footer-lower {
    @include centered-block;
    font-family: $font-text;
    background-color: $color-bg;
    // height: 40px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 30px 10px;
    }

    .copyright {
      margin: 0;
      color: $color-text;
      text-transform: uppercase;
      margin-top: 6px;

      @include tablet {
        font-size: $font-size-copyright-tablet;
      }
    }

    .site {
      text-transform: uppercase;
      color: $color-text;
      text-align: center;
      position: relative;

      select {
        font-family: $font-title;
        background-color: transparent;
        padding: 3px 5px;
        border: $color-accent-light 2px solid;
        border-radius: $border-radius;
        margin-left: 5px;
        color: $color-text;
      }
    }
  }
}
