<footer class="asm-footer">
  <div class="footer-upper">
    <div class="centered-block">
      <div class="menublock" *ngFor="let title of ['Assembly winter 2018', 'Program', 'Manual', 'About']">
        <h4>{{title}}</h4>
        <p *ngFor="let item of ['asdf', 'fdsgs', 'adskjgfls', 'sdifjurioj', 'sdf']">  
          <a>{{item}}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="centered-block">
      <asm-social-media></asm-social-media>
      <div class="site">
        <span>select event</span>
        <select>
          <option>asdf</option>
          <option>lkdj</option>
        </select>
      </div>
      <p class="copyright">
        &copy; 1992-2017 assembly organizing
      </p>     
    </div>
  </div>
</footer>
