<footer class="asm-footer">
  <div class="footer-upper">
    <div class="centered-block">
      <div class="menublock" *ngFor="let menu of (footer$ | async)?.items">
        <h4>{{menu.label}}</h4>
        <p *ngFor="let item of menu?.items">
          <a [href]="getUrl(item)" (click)="onNavigation(item, $event)">{{item.title}}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <asm-social-media></asm-social-media>
    <div class="contentful-attribution">
      <a href="https://www.contentful.com/" rel="nofollow" target=“_blank”>
        <img src="https://images.contentful.com/fo9twyrwpveg/7F5pMEOhJ6Y2WukCa2cYws/398e290725ef2d3b3f0f5a73ae8401d6/PoweredByContentful_DarkBackground.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" />
      </a>
    </div>
    <!--<div class="site">
      <span>select event</span>
      <select>
        <option>asdf</option>
        <option>lkdj</option>
      </select>
    </div>-->
    <p class="copyright">
      &copy; 1992-{{this.year}} ASSEMBLY Organizing
    </p>
  </div>
</footer>
