@import '../../common';

:host {
  @include component;
}

.asm-footer {
  font-family: $text-font;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-upper {
    background-color: #000000;
    padding: 65px 0;
    width: 100%;
    color: white;

    .centered-block {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .menublock {
      width: 250px;
      margin-right: 20px;
      flex-grow: 1;

      h4 {
        font-family: $title-color;
        border-bottom: $accent-light-color 1px solid;
        color: $accent-light-color;
        text-transform: uppercase;
        font-size: 23px;
        padding-bottom: 16px;
      }

      p {
        margin: 0;
        margin-top: 21px;
      }

      &:last-child {
        margin-right: 0;
      }

      @include tablet {
        width: 45%;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      @include mobile {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .footer-lower {
    font-family: $text-font;
    background-color: $bg;
    height: 40px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    @include centered-block;

    .copyright {
      margin: 0;
      color: white;
      text-transform: uppercase;
      margin-top: 6px;
    }

    .site {
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      position: relative;

      select {
        font-family: $title-font;
        background-color: transparent;
        padding: 3px 5px;
        border: $footer-blue 2px solid;
        border-radius: 3px;
        margin-left: 5px;
        color: #ffffff;
      }
    }
  }
}
