<footer class="asm-footer">
  <div class="footer-upper">
    <div class="centered-block">
      <div class="menublock" *ngFor="let menu of (footer$ | async)?.items">
        <h4>{{menu.label}}</h4>
        <p *ngFor="let item of menu?.items">  
          <a [href]="getUrl(item)" (click)="onNavigation(item, $event)">{{item.title}}</a>
        </p>
      </div>    
    </div>
  </div>
  <div class="footer-lower">
    <asm-social-media></asm-social-media>
    <div class="site">
      <span>select event</span>
      <select>
        <option>asdf</option>
        <option>lkdj</option>
      </select>
    </div>
    <p class="copyright">
      &copy; 1992-2017 ASSEMBLY Organizing
    </p> 
  </div>
</footer>
