<div class="top">
    <div class="logo-container">
      <a [href]="'/' + event?.name">
        <img class="logo" [src]="getLogo()" alt="{{event?.logo?.fields?.title}}">
      </a>
    </div>
    <button type="button" (click)="onCloseClick()" aria-label="close menu">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="header">
    <a class="highlight-button" *ngFor="let item of (header$ | async)?.highlights" [href]="getUrl(item.item)">
      <div class="button-inner-wrapper {{item.icon}}">
        <span class="icon">
          <i class="fa {{item.icon}}"></i>
        </span>
        <span class="title">{{item.title}}</span>
      </div>
    </a>
    <a href="//tickets.assembly.org" class="highlight-button tickets" target="_blank">
      <div class="button-inner-wrapper">
        <span class="icon">
          <i class="fa fa-ticket"></i>
        </span>
        <span class="title">Tickets</span>
      </div>
    </a>
</div>
<div class="main">
  <div class="left">
      <ul class="menu">
          <li class="menu-item" *ngFor="let item of menu">
            <ng-container *ngIf="item.__typename === 'Menu'; else normalMenu">
              <span class="fa" [ngClass]="{'fa-plus': !item.show, 'fa-minus': item.show}" (click)="onCollapse(item)"></span>
              <a class="submenu-title" [href]="getUrl(item.page)" (click)="onNavigation(item.page, $event)">{{item.label}}</a>
              <ul *ngIf="item.show" class="submenu">
                <li *ngFor="let subitem of item.items" [class.sectioned]="subitem.__typename === 'Menu'">
                  <ng-container *ngIf="subitem.__typename === 'Menu'; else normalSubMenu">
                    <span class="fa" [ngClass]="{'fa-plus': !subitem.show, 'fa-minus': subitem.show}" (click)="onCollapse(subitem)"></span>
                    <ng-container *ngIf="subitem.page; else noLink">
                      <a class="submenu-title" [href]="getUrl(subitem.page)" (click)="onNavigation(subitem.page, $event)">{{subitem.label}}</a>
                    </ng-container>
                    <ng-template #noLink>
                      <span class="submenu-title no-link">{{subitem.label}}</span>
                    </ng-template>
                    <ul *ngIf="subitem.show" class="submenu">
                      <li *ngFor="let sectionitem of subitem.items">
                        <a [href]="getUrl(sectionitem)" (click)="onNavigation(sectionitem, $event)">{{sectionitem.title}}</a>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-template #normalSubMenu>
                    <a [href]="getUrl(subitem)" (click)="onNavigation(subitem, $event)">{{subitem.title}}</a>
                  </ng-template>
                </li>
              </ul>
            </ng-container>
            <ng-template #normalMenu>
              <a [href]="getUrl(item)" (click)="onNavigation(item, $event)">{{item.title}}</a>
            </ng-template>
          </li>
        </ul>
  </div>
</div>
