<div class="some">
  <a href="https://twitter.com/assemblyparty" class="fa fa-twitter" title="Twitter" target="_blank" rel="noopener"></a>
  <a href="https://www.facebook.com/assemblyparty/" class="fa fa-facebook" title="Facebook" target="_blank"
    rel="noopener"></a>
  <a href="https://www.twitch.tv/assemblytv" class="fa fa-twitch" title="Twitch" target="_blank" rel="noopener"></a>
  <a href="https://www.youtube.com/AssemblyTV" class="fa fa-youtube" title="Youtube" target="_blank" rel="noopener"></a>
  <a href="https://www.instagram.com/assemblyparty" class="fa fa-instagram" title="Instagram" target="_blank"
    rel="noopener"></a>
  <a href="https://discord.gg/Assembly" class="socicon-discord" title="Discord" target="_blank" rel="noopener"></a>
</div>
