<div class="some" itemscop itemtype="http://schema.org/Organization">
  <link itemprop="url" href="https://www.assembly.org">
  <a href="https://twitter.com/assemblyparty" class="fa fa-twitter" target="_blank" rel="noopener" itemprop="sameAs"></a>
  <a href="https://www.facebook.com/assemblyparty/" class="fa fa-facebook" target="_blank" rel="noopener" itemprop="sameAs"></a>
  <a href="https://www.twitch.tv/assemblytv" class="fa fa-twitch" target="_blank" rel="noopener" itemprop="sameAs"></a>
  <a href="https://www.youtube.com/AssemblyTV" class="fa fa-youtube" target="_blank" rel="noopener" itemprop="sameAs"></a>
  <a href="https://www.instagram.com/assemblyparty" class="fa fa-instagram" target="_blank" rel="noopener" itemprop="sameAs"></a>
</div>
