<div class="some">
  <a href="https://twitter.com/assemblyparty" class="fa fa-twitter" target="_blank" rel="noopener" angulartics2On="click"  angularticsAction="Twitter"></a>
  <a href="https://www.facebook.com/assemblyparty/" class="fa fa-facebook" target="_blank" rel="noopener" angulartics2On="click"
  angularticsAction="Facebook"></a>
  <a href="https://www.twitch.tv/assemblytv" class="fa fa-twitch" target="_blank" rel="noopener" angulartics2On="click"
  angularticsAction="Twitch"></a>
  <a href="https://www.youtube.com/AssemblyTV" class="fa fa-youtube" target="_blank" rel="noopener" angulartics2On="click"
  angularticsAction="Youtube"></a>
  <a href="https://www.instagram.com/assemblyparty" class="fa fa-instagram" target="_blank" rel="noopener" angulartics2On="click"
  angularticsAction="Instagram"></a>
</div>
