@import '../../common';

:host {
  @include component(unset);
  min-height: 24px;
}

.some {
  display: inline-flex;
  flex-shrink: 0;
  z-index: 5;

  a {
    color: $color-text;
    text-decoration: none;
    font-size: $font-size-some;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
    background-size: contain;
    margin: 0;
    margin-left: 4px;
    flex-shrink: 0;

    &:hover {
      color: $color-accent;
    }

    &:focus {
      @include gradient($color-accent, $color-accent-dark);
      display: flex;
      outline: 0;
      transition: background .1s .2s ease-in-out;
      z-index: 1;
    }
  }
}
