@import '../../../common';

:host {
  @include component;
  min-height: 70vh;
  height: 100%;
}

.page-background {
  display: flex;
  background-image: url('/assets/images/background-picture.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: $width-page-bg auto;
  padding-top: 230px;
  position: relative;
  height: 100%;
  min-height: 60vh;
  flex-direction: column;

  .overlay {
    background-color: rgba($color-bg-overlay, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: $width-page-bg;
    height: 100%;
    margin: auto;
  }

  .page-title {
    @include page-width;
    display: flex;
    align-items: center;
    padding: 20px 0 100px;
    z-index: 2;

    .title-border {
      @include skewed;
      border-right: $border-basic $color-accent;
      margin-right: 10px;
      flex-shrink: 0;
      height: 30px;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        width: 230px;
        border-bottom: $border-basic $color-accent;
        display: block;

        @include mobile {
          width: 100px;
        }
      }
    }

    h1 {
      color: $color-text;
      font-family: 'Oswald', sans-serif;
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      font-size: $font-size-page-title;
      line-height: $font-size-page-title;
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .page-content-wrapper {
    background: linear-gradient(rgba($color-bg, .4) 0, $color-bg 230px);
    color: $color-text;
    display: flex;
    flex-grow: 1;
    z-index: 1;

    .page-content {
      @include page-width;
      padding-bottom: 50px;

      p {
        text-align: justify;
      }
    }
  }
}
