<div class="page-background" [style.background-image]="background">
  <div class="overlay"></div>
  <div class="page-title" *ngIf="!content?.isFrontpage; else showFrontpageContent">
    <ng-container *ngIf="content.title">
      <div class="title-border"></div>
      <h1>{{content.title}}</h1>
    </ng-container>
  </div>
  <ng-template #showFrontpageContent>
    <asm-block-event-info></asm-block-event-info>
    <asm-block-countdown></asm-block-countdown>
  </ng-template>
  <div class="page-content-wrapper {{tags}}">
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>