@import '../../../common';

:host {
  @include component;
}

.zip-content {
  width: 97%;
  display: block;
  border: $border-basic $accent-color;
  margin-bottom: 29px;
  margin-left: 3%;
  margin-right: 0;
  border-radius: 3px;
}

.zip-content:nth-child(odd) {
  margin-left: 0;
  margin-right: 3%;
}
