@import '../../../mixins';
@import '../../../styles';

:host {
  @include component;
}

.zip-content {
  float: right;
  width: 97.5%;
  display: block;
  border: 1px solid $blue;
  margin-bottom: 29px;
  border-radius: 3px;
}
.zip-content:nth-child(odd) {
  float: left;
}
