:host {
  display: block;
  contain: content;
  background-color: #010b1b;
  color: #fff;
  padding-top: 30px;
}

.zip-content {
  float: right;
  width: 97.5%;
  display: block;
  border: 1px solid #0a2658;
  margin-bottom: 29px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  h2{

  }
  &>*{/*why none of these work*/
    background-color: red!important;
  }
  asm-block-markdown{
    background-color: red;
  }
  [_nghost-c8]{
    background-color: transparent;
  }
  _nghost-c8{
    background-color: transparent;
  }
  [_nghost-c8] {
    background-color: red!important;
  }
}

.zip-content:nth-child(odd) {
  float: left;
}
