@import '../../../common';

:host {
  @include component;
  width: $width-text;
  max-width: 90%;
  margin: 0 auto;

  @include mobile {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

// Show & hide
.innercontent {
  padding: 20px;
  padding-top: 0;
  border-bottom: $border-basic rgba($color-accent, .5);

  @include mobile {
    padding: 0;
    padding-left: 1rem;
  }

  &.hide {
    display: none;
  }

  .fa {
    color: $color-accent;
  }

  .button {
    &.major,
    &rescheduled {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }

  .anchor {
    //color: $color-accent-dark;
    font-size: $font-size-smaller;
  }
}


h4 {
  border-bottom: $border-basic rgba($color-accent, .5);
  color: $color-text;
  cursor: pointer;
  font-size: $font-size-h5;
  margin-top: 0;
  padding-bottom: .2rem;

  @include mobile {
    border: 0;
    font-size: $font-size;
  }

  &:hover,
  &:active,
  &:focus {
    background: rgba($color-accent-dark, .3);
  }

  .fa-plus,
  .fa-minus {
    color: $color-accent-dark;
    margin-right: .2rem;
  }

  .tags {
    float: right;
    margin: auto;
  }

  &.major {
    .title {
      color: $color-accent-light;

      @include mobile {
        font-size: $font-size;
      }
    }

    .category-icon {
      font-size: $font-size;
      color: $color-link-visited;
    }
  }

  &.minor {
    .title {
      font-size: 80%;
      font-weight: 400;
      color: $color-text;

      @include mobile {
        font-size: $font-size;
      }
    }


  }

  .tags,
  .button,
  .category-icon {
    font-size: $font-size-smaller;

    @include mobile {
      display: none;
    }
  }

  .category-icon {
    font-size: $font-size;

    &.fa-home {
      color: $color-ticket;
    }
  }

  .start-time {
    color: $color-accent;
  }
}

a:visited {
  color: $color-accent;
}

.description {
  font-size: $font-size;
  line-height: 2rem;

  @include mobile {
    font-size: $font-size-smaller;
    line-height: $font-size;
  }
}

.button {
  background: $color-accent-dark;
  border-radius: $border-radius;
  //cursor: pointer;
  display: inline-block;
  font-family: $font-title;
  font-size: $font-size;
  font-weight: bold;
  justify-content: center;
  margin: 0 5px;
  padding: 5px;
  text-shadow: 0 -2px rgba($color-bg, .2);
  text-transform: uppercase;
  transform: skew(-15deg);
  transition: background-color .1s ease-in-out;

  @include mobile {
    font-size: $font-size-smaller;
  }

  // &:hover {
  //   background-color: $color-accent;
  //   color: $color-text;
  //   transition: background-color .1s ease-in-out;
  // }

  &.major {
    background: $color-link-visited;
    color: $color-text;

    &::before {
      content: '';
    }

    // &:hover {
    //   background-color: lighten($color-link-visited, 10%);
    //   transition: background-color .1s ease-in-out;
    // }
  }

  &.rescheduled {
    background: $color-ticket;
    color: $color-bg;
    //border: $border-basic $color-bg;
  }
}



