<h4 id="{{event.key}}" (click)="toggle()" [ngClass]="{'major': event.isMajor, 'minor': !event.isMajor}">

  <span class="fa fa-fw" [ngClass]="{'fa-plus': !opened, 'fa-minus': opened}"></span>

  <span class="start-time">{{event.start_time | date:'HH:mm'}}</span>

  <span class="category-icon fa fa-fw" [ngClass]="getCategoryIcon()" aria-hidden="true"></span>

  <span class="title">{{event.name}}</span>

  <div class="tags">

    <!--<div *ngIf="this.event.isMajor" class="flag tag major button">major</div>-->
    <div *ngIf="this.event.isRescheduled" class="tag rescheduled button">rescheduled</div>
  </div>
</h4>

<div class="innercontent" [ngClass]="{hide: !opened}">

  <p>
    <span *ngFor="let flag of event.flags" class="flag button {{flag}}">
      {{flag}}
    </span>
    <span *ngFor="let category of event.categories" class="category button {{category}}">
      {{category}}
    </span>
    <span *ngIf="event.isRescheduled" class="button rescheduled">
      rescheduled
    </span>
  </p>

  <p>
    <span class="location">
      <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
      {{locations[event.location_key]?.name}}
    </span>
  </p>

  <p>
    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
    {{event.start_time | date:'H:mm'}} <ng-container *ngIf="event.start_time !== event.end_time">&ndash; {{event.end_time | date:'H:mm'}}</ng-container>
    <span>{{event.duration}}</span>
    <span *ngIf="this.event.isRescheduled" class="orig-time">
      &mdash; original starting time: {{event.original_start_time | date:'H:mm'}}
    </span>
  </p>

  <p *ngIf="event.description" class="description">
    <i class="fa fa-fw fa-comment" aria-hidden="true"></i>
    <span [innerHTML]="event.description"></span>
  </p>
  <p *ngIf="event.url">
    <i class="fa fa-link" aria-hidden="true"></i>
    <span>
      <a href="{{event.url}}">More info</a>
    </span>
  </p>
  <p *ngIf="event.stream">
    <a class="watch" [href]="event.stream">Watch stream</a>
  </p>
  <!-- <p>
    <a href="#{{event.key}}" title="Link here" class="anchor">[Link to this event]</a>
  </p> -->
</div>
