@import '../../../common';

:host {
  @include component;
  @include page-content-width;


  .grid-items {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
      border: 2px solid $color-bg;
      background: transparent url('/assets/images/grid-picture.jpg') no-repeat center center;
      background-size: cover;
      flex: 25%;
      width: 25%;
      height: 21.5vw;
      flex-grow: 0;
      position: relative;

      @include desktop {
        height: 345px;
      }

      @include screen-small {
        flex: 33%;
        width: 33%;
        height: 30vw;
        flex-grow: 0;
      }

      @include mobile {
        flex: 50%;
        width: 50%;
        height: 45vw;
        flex-grow: 0;
      }

      a {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          .mask {
            opacity: .6;
          }
        }
      }

      .mask {
        background-color: $color-grid-mask;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .3;
        transition: opacity .5s ease;
      }

      .content {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        width: 80%;

        @media (max-width: 500px) {
          width: 100%;
        }

        h2 {
          text-transform: uppercase;
          text-align: center;
          color: $white;
          font-size: $font-size-h3;
          text-shadow: 1px 1px 5px $color-bg;

          @media (max-width: 400px) {
            font-size: $font-size-h4;
          }

          &:before {
            display: none;
          }
        }

        .tags {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 5px;
          color: $white;
          font-size: 1.5rem;

          .icon {
            text-shadow: 1px 2px 5px $color-bg;
            padding: 0 5px;
          }
        }
      }
    }
  }

  .grid-filters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0;

    li {
      display: inline-block;
      padding: 0;
      margin: .5rem;

      @include desktop {
        margin: 1rem;
      }
    }

    .filter {
      min-width: 150px;
      padding: .8rem;
      text-transform: uppercase;
      font-family: $font-title;
      font-size: $font-size-h4;
      background: $color-accent-dark;
      border-radius: 0;
      cursor: pointer;
      color: $white;
      outline: none;
      border: 0;
      transform: skew(-15deg);
      transition: background-color .5s ease;
      overflow: hidden;
      vertical-align: middle;

      @include screen-small {
        padding: .5rem;
        font-size: $font-size-h5;
        min-width: 100px;
      }

      &:hover {
        background-color: $color-accent;
      }

      &.active {
        background-color: $color-accent;
      }

      .icon {
        margin-left: 5px;
        transform: skew(15deg) translateY(-2px);
      }
    }
  }
}
