@import '../../../common';

:host {
  @include component(initial);
}

a {
  color: $color-text;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  font-weight: normal;
  width: 100%;

  li {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    height: $menu-small-height;
    font-size: 16px;
    text-transform: uppercase;

    @include tablet {
      margin: 0;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }

    .menu-dropdown {
      font-family: $font-text;
      opacity: 0;
      visibility: hidden;
      background-color: rgba($color-bg, .8);
      padding: 10px;
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      transition: opacity.3s .1s, top .3s .1s, visibility .1s .2s;
      border: $border-basic rgba($color-accent, .6);
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
      box-sizing: border-box;
      z-index: -1;

      &:after {
        content: '';
        border: 9px solid $color-bg;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        top: -18px;
        left: 50%;
        margin-left: -8px;
        z-index: 1;
      }

      &:before {
        content: '';
        border: 10px solid rgba($color-accent, .6);
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        top: -21px;
        left: 50%;
        margin-left: -9px;
      }

      li {
        position: relative;
        text-transform: none;

        a, span {
          height: auto;
          font-size: 16px;
          padding: 10px;
          display: block;
          transition: color .1s;

          &:hover {
            color: $color-accent;
          }
        }
      }

      &.sectioned {
        width: auto;
        min-width: $menu-section-width;
        display: flex;
        margin-left: -$menu-section-width;

        &:after,
        &:before {
          left: $menu-section-width;
        }

        li.sectioned {
          display: inline-block;
          width: $menu-section-width;
          font-weight: normal;

          @include tablet {
            width: 200px;
          }

          .title {
            text-transform: uppercase;
            color: $color-accent;
            font-family: $font-title;
            border-bottom: $border-basic $color-accent;
            padding: 15px 0;
            margin: 0 10px;

            &[href]:hover {
              color: $color-text;
            }
          }

          .submenu-section {
            @include list-styling;
            padding: 0 0 0 10px;

            li {
              padding: 5px 10px;
              padding-left: 15px;

              &:first-child {
                padding-top: 10px;
              }

              &:before {
                height: 50%;
              }

              a {
                border-radius: 5px;
                padding: 10px;
                border: $border-basic transparent;

                &:hover {
                  border-color: $color-accent;
                }
              }
            }
          }
        }
      }
    }

    &:hover {
      >.menu-dropdown {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }
}
