@import '../../../common';

$menu-dropdown-bg-color: rgba($color-bg, .9);
$menu-dropdown-border-color: rgba($color-accent, .6);
$menu-dropdown-box-shadow-color: rgba(0, 0, 0, .4);
$menu-dropdown-before-border-color: rgba($color-accent, .6);
$menu-dropdown-sectioned-webkit-scrollbar-track-box-shadow-color: rgba(0, 0, 0, .5);
$menu-dropdown-width: 200px;
$menu-dropdown-sectioned-width: calc(#{$menu-dropdown-width} * 2);

:host {
  @include component(initial);
}

a {
  color: $color-text;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  font-weight: normal;
  width: 100%;

  li {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    display: inline-block;
    font-size: $font-size;
    height: $menu-small-height;
    margin: 0 10px;
    position: relative;
    text-transform: uppercase;

    @include tablet {
      margin: 0;
    }

    a {
      align-items: center;
      display: flex;
      height: 100%;
      padding: 0 10px;
    }

    .menu-dropdown {
      background-color: $menu-dropdown-bg-color;
      border-radius: $border-radius;
      border: $border-basic $menu-dropdown-border-color;
      box-shadow: 0 1px 3px $menu-dropdown-box-shadow-color;
      box-sizing: border-box;
      font-family: $font-text;
      left: 50%;
      margin-left: calc(#{$menu-dropdown-width / -2});
      max-height: 80vh;
      opacity: 0;
      padding: 1em;
      position: absolute;
      text-align: left;
      top: 50%;
      transition: opacity.3s .1s, top .3s .1s, visibility .1s .2s;
      visibility: hidden;
      width: $menu-dropdown-width;
      z-index: -1;

      &:after {
        content: '';
        border: 9px solid $color-bg;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        top: -18px;
        z-index: 1;
      }

      &:before {
        content: '';
        border: 10px solid $menu-dropdown-before-border-color;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        left: 50%;
        margin-left: -9px;
        position: absolute;
        top: -21px;
      }

      li {
        position: relative;
        text-transform: none;

        >a,
        >div,
        >span {
          display: block;
          font-size: $font-size;
          height: auto;
          padding: 10px;
          transition: color .1s;

          &:hover {
            color: $color-accent;
          }
        }
      }

      &.sectioned {
        display: flex;
        flex-direction: column;
        margin-left: calc(#{$menu-dropdown-sectioned-width} / -2);
        width: $menu-dropdown-sectioned-width;

        // &:after,
        // &:before {
          // left: $menu-section-width;
        // }

        li.sectioned {
          display: inline-block;
          font-weight: normal;
          height: 100%;
          overflow-y: hidden;
          width: 100%;

          @include tablet {
            max-height: 75vh;
            overflow-y: auto;
            width: 100%;

            &::-webkit-scrollbar {
              width: .5em;
            }

            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px $menu-dropdown-sectioned-webkit-scrollbar-track-box-shadow-color;
            }

            &::-webkit-scrollbar-thumb {
              background-color: $color-accent-dark;
              outline: 1px solid $color-accent-dark;
            }
          }

          .title {
            align-items: center;
            color: $color-no-link;
            display: flex;
            font-family: $font-title;
            justify-content: space-between;
            text-transform: uppercase;

            &[href] {
              color: $color-accent;
            }

            &[href]:hover {
              color: $color-text;
            }

            a {
              padding: 0;
            }

            button {
              background: $color-accent;
              border: none;
              color: $white;
              font-size: 1.4rem;
              font-weight: bold;
              height: 1.4rem;
              line-height: 1.4rem;
              padding: 0;
              text-align: center;
              width: 1.4rem;
            }
          }

          .submenu-section {
            @include list-styling;
            display: none;
            flex-wrap: wrap;
            line-height: 1em;
            padding: 0;

            &.open {
              border-top: 1px solid $color-accent;
              display: flex;
              height: 100%;
              overflow-y: auto;
            }

            &.wrapped {
              li {
                align-content: center;
                align-items: center;
                display: flex;
                max-height: 50vh;
                width: 50%;
              }

              >.menu-dropdown {
                width: 400px;
              }
            }

            li {
              padding: .25rem 1em;
              width: 100%;

              &:first-child {
                padding-top: .5em;
              }

              &:last-child {
                padding-bottom: .5em;
              }

              &:before {
                height: 50%;
              }

              a {
                border-radius: $border-radius;
                border: $border-basic transparent;

                &:hover {
                  border-color: $color-accent;
                }
              }
            }
          }
        }
      }
    }

    &:hover {
      >.menu-dropdown {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }
}
