<ul class="menu">
  <li class="menu-item" *ngFor="let item of menu">
    <ng-container *ngIf="item.__typename === 'Menu'; else normalMenu">
      <a [href]="getUrl(item.page)" (click)="onNavigation(item.page, $event)">
        {{item.label}}
      </a>
      <ul class="menu-dropdown" [class.sectioned]="isMenuSectioned(item)">
        <li *ngFor="let subitem of item.items; trackBy: trackMenuItemsFn" [class.sectioned]="subitem.__typename === 'Menu'">
          <ng-container *ngIf="subitem.__typename === 'Menu'; else normalSubMenu">
            <ng-container *ngIf="subitem.page; else noLink">
              <div class="title">
                <a [href]="getUrl(subitem.page)" (click)="onNavigation(subitem.page, $event)">
                  {{subitem.label}}
                </a>
                <button *ngIf="openedSection !== subitem.label" (click)="openSection(subitem)">&#43;</button>
                <button *ngIf="openedSection === subitem.label" (click)="openedSection = undefined">&ndash;</button>
              </div>
            </ng-container>
            <ng-template #noLink>
              <div class="title">
                <span>
                  {{subitem.label}}
                </span>
                <button *ngIf="openedSection !== subitem.label" (click)="openSection(subitem)">&#43;</button>
                <button *ngIf="openedSection === subitem.label" (click)="openedSection = undefined">&ndash;</button>
              </div>
            </ng-template>
            <ul class="submenu-section" [class.open]="isOpen(subitem)" [class.wrapped]="subitem.items.length > 6">
              <li *ngFor="let sectionitem of subitem.items; trackBy: trackMenuItemsFn">
                <a [href]="getUrl(sectionitem)" (click)="onNavigation(sectionitem, $event)">
                  {{sectionitem.title}}
                </a>
              </li>
            </ul>
          </ng-container>
          <ng-template #normalSubMenu>
            <a [href]="getUrl(subitem)" (click)="onNavigation(subitem, $event)">
              {{subitem.title}}
            </a>
          </ng-template>
        </li>
      </ul>
    </ng-container>
    <ng-template #normalMenu>
      <a [href]="getUrl(item)" (click)="onNavigation(item, $event)">
        {{item.title}}
      </a>
    </ng-template>
  </li>
</ul>
