@import '../../../common';

$zipper-title-height: 80px;

:host {
  @include component(content, flex);
  @include centered-block;
  font-family: $font-text;
  font-weight: normal;
  flex-direction: row-reverse;
  height: 325px;
  overflow: hidden;

  @include mobile {
    flex-direction: column-reverse;
    min-height: 325px;
    height: auto;
  }
}

h2 {
  margin-left: $zipper-title-height;
  border-bottom: $border-basic $color-accent;
  width: 100%;
  margin: 0;
  padding: 0;
  height: $zipper-title-height;
  position: initial;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;

  .title {
    line-height: $zipper-title-height;
    height: $zipper-title-height;
    padding-left: 30px;
    font-weight: normal;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .icon {
    border-right: $border-basic $color-accent;
    color: $color-accent;
    font-size: 25px;
    height: $zipper-title-height;
    line-height: $zipper-title-height;
    padding: 0 30px;
    border-bottom: 0;
    transform: skewX(-15deg);
    display: inline-block;

    .icon-inner {
      transform: skewX(15deg);
    }
  }
}

.image-container {
  display: inline-block;
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  padding: 10px;
  overflow: hidden;

  .image {
    display: inline-block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  @include mobile {
    height: 325px;
    width: 100%;
  }
}

.zipper-inner {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-left: $border-basic $color-accent;
  min-width: 300px;

  @include mobile {
    height: auto;
    border-top: $border-basic $color-accent;
    border-left: 0;
  }

  .zipper-link {
    font-family: $font-title;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $color-accent;
    border-top: 1px solid $color-accent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 15px;
    vertical-align: middle;
    font-size: 20px;

    .fa {
      margin-left: 10px;
      font-size: 20px;
    }

    &:hover {
      @include gradient(rgba($color-accent, .3), $color-bg);
    }
  }

  .zipper-content {
    padding: 0 30px;
    flex-grow: 1;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


:host-context(.type0) {
   flex-direction: row;

  @include mobile {
    flex-direction: column-reverse;
  }
}

:host-context(.type0) .zipper-inner {
  border-left: 0;
  border-right: $border-basic $color-accent;

  @include mobile {
    border-right: 0;
  }
}
