@import '../../../common';

:host {
  @include component(content, flex);
  @include centered-block;
  font-family: $text-font;
  font-weight: normal;
  flex-direction: row-reverse;
  height: 325px;
}

h2 {
  margin-left: 80px;
  border-bottom: $border-basic $accent-color;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 80px;
  position: initial;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  .title {
    line-height: 80px;
    height: 80px;
    padding-left: 30px;
    font-weight: normal;
    font-style: italic;
  }

  .icon {
    border-right: $border-basic $accent-color;
    color: $accent-color;
    font-size: 25px;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    position: relative;
    top: -16px;
    border-bottom: 0;
    transform: skewX(-15deg);
    display: inline-block;

    .icon-inner {
      transform: skewX(15deg);
    }
  }
}

.image {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 100%;
  flex-shrink: 0;
}

.zipper-inner {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-left: $border-basic $accent-color;
  min-width: 400px;

  .zipper-link {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $accent-color;
    border-top: 1px solid $accent-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;

    .fa {
      margin-left: 10px;
    }

    &:hover {
      color: $accent-light-color;
    }
  }

  .zipper-content {
    padding: 0 30px;
    flex-grow: 1;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


:host-context(.type0) {
   flex-direction: row;
}

:host-context(.type0) .zipper-inner {
  border-left: 0;
  border-right: $border-basic $accent-color;
}
