@import '../../../common';

.article {
  @include page-content-width;

  img {
    max-width: 40%;
    border: $border-basic $color-accent;
    border-radius: $border-radius;
    padding: 10px;
    float: right;
    background-color: $color-bg;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: block;

    @include screen-small {
      margin: auto;
      float: none;
      max-width: 60%;
    }
    @include mobile {
      max-width: 100%;
    }
  }

  h2 {
    z-index: -1;
    text-align: left;

    &:before {
      width: 100%;
    }
  }

  .date {
    color: $color-accent;
    text-align: right;
  }

  .ingress {
    font-style: italic;
    padding: 10px 0 30px;
    font-size: $font-size-ingress;
    line-height: $line-height-menu;
  }

  .meta {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid $color-accent;

    .tags {
      padding: 1rem 0;
    }

    .tag {
      text-transform: uppercase;
      font-family: $font-title;
      background: $color-accent-dark;
      color: $color-text;
      border-radius: $border-radius;
      display: inline-block;
      padding: 5px;
      transform: skew(-15deg);
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

  .category {
      background: $color-accent;
    }
  }
}
