@import '../../../common';

:host {
  @include component;
  padding: 20px 0;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: $font-size-page-title;
  overflow: hidden;
  @include page-width;

  .title-border-left,
  .title-border-right {
    flex-shrink: 0;
    height: #{$font-size-page-title - 10px};
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include skewed;
  }

  .title-border-left {
    border-right: $border-section;
    margin-right: 10px;

    &:before {
      content: '';
      width: 100%;
      border-bottom: $border-section;
      display: block;
    }
  }

  .title-border-right {
    border-left: $border-section;
    margin-left: 20px;

    &:after {
      content: '';
      width: 100%;
      border-bottom: $border-section;
      display: block;
    }
  }

  h2 {
    color: $color-text;
    font-family: $font-title;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $font-size-h1;
    line-height: $font-size-h1;
    margin: 0;
    margin-bottom: 4px;
    flex-shrink: 0;
    max-width: 85%;

    &:before {
      display: none;
    }
  }
}
