@import '../../../common';

:host {
  @include component;
  padding: 20px 0;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $page-title-size;
  @include page-width;

  .title-border-left, .title-border-right {
    flex-shrink: 0;
    height: 90%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include skewed;
  }

  .title-border-left {
    border-right: 2px solid rgba($border, .6);
    margin-right: 10px;

    &:before {
      content:"";
      width: 100%;
      border-bottom: 2px solid rgba($border, .6);
      display: block;
    }
  }

  .title-border-right {
    border-left: 2px solid rgba($border, .6);
    margin-left: 20px;

    &:after {
      content:"";
      width: 100%;
      border-bottom: 2px solid rgba($border, .6);
      display: block;
    }
  }

  h2 {
    color: $text-color;
    font-family: $title-font;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $page-title-size;
    line-height: $page-title-size;
    margin: 0;
    margin-bottom: 4px;
    flex-shrink: 0;

    &:before {
      display: none;
    }
  }
}
