@import '../../../common';

:host {
  @include component(content, flex);
  border-radius: $border-radius;
  border: $border-basic $color-accent;
  flex-direction: column;
  flex-grow: 1;
  font-family: $font-title;
  font-size: $font-size-cta;
  height: 200px;
  text-transform: uppercase;
  width: 100%;
  max-width: $width-page-content;
  margin: 0 auto;
  background-color: rgba($color-bg, .7);
  text-shadow: $color-bg 0 0 15px;
  font-weight: bold;

  .cta-title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $font-size-cta-title;
    font-style: italic;
    overflow: hidden;
    color: $color-accent;

    @include mobile {
      font-size: $font-size-cta-title-m;
    }
  }

  .cta-link {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-accent;
    font-size: $font-size;
    text-decoration: none;
    border-top: $border-basic $color-accent;

    .fa {
      margin-left: 10px;
      font-size: $font-size;
    }

    &:hover {
      @include gradient(rgba($color-accent, .3), $color-bg);
    }
  }
}
