<div class="prefix center" *ngIf="isCountingDown">
  {{hasStarted ? 'Let\'s party!' : 'Event starts in'}}
</div>

<div class="countdown" *ngIf="hasEnded != true">
  <div *ngIf="months != 0">
    <p>{{months}}</p>
    <span>months</span>
  </div>
  <div>
    <p>{{days}}</p>
    <span>days</span>
  </div>
  <div>
    <p>{{hours}}</p>
    <span>hours</span>
  </div>
  <div>
    <p>{{minutes}}</p>
    <span>minutes</span>
  </div>
  <div *ngIf="months == 0">
    <p>{{seconds}}</p>
    <span>seconds</span>
  </div>
</div>

<div class="prefix center" *ngIf="hasEnded">
  The event is over, see you next time!
</div>
