<div class="centered-block">
  <div class="logo"></div>
  <div class="details">
    <span class="fa fa-calendar-o dates"><span>{{dates}}</span></span>
    <span class="place fa fa-map-marker"><span>{{place}}</span></span>
  </div>
  <div class="counter">
    <div>
      <p>{{days}}</p>
      days
    </div>
     <div>
      <p>{{hours}}</p>
      hours
    </div> 
    <div>
      <p>{{minutes}}</p>
      days
    </div> 
    <div>
      <p>{{seconds}}</p>
      seconds
    </div>
  </div>
</div>
<div class="sponsors">
  <div class="sponsor"></div>
  <div class="sponsor"></div>
  <div class="sponsor"></div>
  <div class="sponsor"></div>
</div>
