@import '../../../common';

:host {
  @include component;
  @include centered-block;
  padding: 10px;
  padding-left: 70px;
  font-family: $font-text;
  font-weight: normal;

  @include mobile {
    padding-left: 0;
  }
}

.markdown-content {
  @include text;

  @include tablet {
    width: 100%;
    padding: 0;
  }
}

.image {
  max-width: 50%;
  width: 100%;
  float: right;
  padding: 10px;
  border: $border-basic $color-accent;
  border-radius: $border-radius;
  margin-bottom: 10px;
  margin-left: 20px;

  img {
    width: 100%;
  }
  @include tablet {
    margin-left: 0;
    float: none;
    max-width: 60%;
  }
  @include mobile {
    max-width: 100%;
    float: none;
    margin-left: 0;
  }
}
