@import '../../../common';

:host {
  @include component;
  @include centered-block;
  padding: 10px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

h2 {
  margin-left: 80px;
}

.markdown-content {
  @include content;
}