@import '../../../common';

:host {
  @include component;
  @include centered-block;
  padding: 10px;
  padding-left: 70px;
  font-family: $text-font;
  font-weight: normal;
}

.markdown-content {
  @include text;

  @include tablet {
    width: 100%;
    padding: 0 1em;
  }

  @include mobile {
    width: 100%;
    padding: 0 1em;
  }
}
