$border: #266eff;
:host {
  display: block;
  contain: content;
  background-color: #000b19;
  color: #fff;
  padding-top: 30px;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
}
.block{
  margin-bottom: 24px;
  border: $border 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  a{
    display: block;
    width: 100%;
    text-align: center;
    color: $border;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    border-top: $border 1px solid;
    text-decoration: none;
    font-weight: bold;
    clear: both;
    span{
      background-image: url('nuoli.png');
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 28px;
    }

  }
  h2{
    text-transform: uppercase;
    border-bottom: $border 1px solid;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 0px;
  }
  img{
    margin: 16px;
    display: block;
    background-image: url('testpic.png');
    height: 150px;
    width: 90%;
    background-size: contain;
    background-position: center;
      background-repeat: no-repeat;
  }
  .icon{
    background-image: url('pokali.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }
  .icon:after {
    content: " ";
    position: relative;
    display: block;
    width: 10px;
    height: 70px;
    top: 0;
    right: -53px;
    z-index: -1;

    border-right: $border 1px solid;
    transform-origin: bottom left;
    -ms-transform: skew(-18deg, 0deg);
    -webkit-transform: skew(-18deg, 0deg);
    transform: skew(-18deg, 0deg);
  }
}
.two-blocks{
  width: 48.5%;
  float: left;
  img{
    float: left;
    max-width: 170px;
  }
  p{
    line-height: 1.4em;
  }
  h2{
    font-style: italic;
    font-size: 25px;
  }
}
.two-blocks:nth-child(odd){
  margin-right: 2%;
}
.three-blocks{
  width: 31.6%;
  float: left;
  margin-right: 2%;
  h2{
    text-align: center;
  }
}
.three-blocks:nth-child(3n+2){
  margin-right: 0%;
}

