<div class="centered-block">
<!--<asm-content-block
    *ngFor="let content of content.topics"
    class=""
    [content]="content">
</asm-content-block>-->
  <div class="block two-blocks">
    <h2>
      <span class="icon"></span>
      Rog Masters nordic cs:go
    </h2>
    <img/>
    <p>Assembly Summer 2017 hosts the ROG Masters Nordic CS:GO final on August 5th with four teams competing for a prize pool of $15,000 USD and a chance to continue to the next step in the $250,000 ROG Masters CS:GO competition.</p>
    <a href="" class="learnmore"><span>learn more</span></a>
  </div>

  <div class="block two-blocks">
    <h2>
      <span class="icon"></span>
      Asus rog overwatch
    </h2>
    <img/>
    <p>Assembly Summer 2017 hosts the ROG Masters Nordic CS:GO final on August 5th with four teams competing for a prize pool of $15,000 USD and a chance to continue to the next step in the $250,000 ROG Masters CS:GO competition.</p>
    <a href="" class="learnmore"><span>learn more</span></a>
  </div>

  <div class="block three-blocks">
    <h2>
      nordic championship
    </h2>
    <img/>
    <a href="" class="learnmore"><span>learn more</span></a>
  </div>
  <div class="block three-blocks">
    <h2>
      esportsm
    </h2>
    <img/>
    <a href="" class="learnmore"><span>learn more</span></a>
  </div>
  <div class="block three-blocks">
    <h2>
      casual tournaments
    </h2>
    <img/>
    <a href="" class="learnmore"><span>learn more</span></a>
  </div>

</div>
