@import '../../common';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-text;
  font-family: 'Oswald', sans-serif;
  width: 100%;

  .header {
    position: relative;
    background-image: url('/assets/images/assembly-overview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;

    .overlay {
      position: absolute;
      z-index: 2;
      background: rgba(0, 0, 0, .5);
      height: 100%;
      width: 100%;
    }

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 400px;
      width: 100%;
      z-index: 3;
      position: relative;

      h1 {
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 20px;
      }

      .logo {
        max-width: 700px;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  p {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    max-width: 1200px;

    .event {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid $color-accent;
      width: 30%;
      min-width: 300px;
      height: 100px;
      color: $color-text;
      text-decoration: none;
      margin: 5px;
      font-size: 1.4rem;

      span {
        display: block;
        padding-bottom: 5px;
      }

      .arrow {
        font-size: 1.5rem;
      }


      &:hover {
        @include gradient(rgba($color-accent, .3), $color-bg);
      }
    }
  }
}
