@import '../../../common';

$event-info-details-text-shadow-color: #000;

:host {
  @include component;
  @include page-width;
  z-index: 1;
}

.logo {
  max-width: 700px;
  width: 100%;
  margin: 80px auto 0;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
  }
}

.details {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 10px 0;
  text-shadow: $event-info-details-text-shadow-color 0 0 15px;

  span {
    display: flex;
    align-items: center;
    color: $color-event-info;
    font-size: $font-size-event-info;
    text-transform: uppercase;

    span {
      padding-left: 15px;
      color: $color-text;
      font-family: $font-title;
    }
  }

  .dates {
    margin-right: 45px;
  }

  @include mobile {

    span {
      font-size: $font-size-event-info-m;
    }
  }
}
