@import '../../../common';

$block-schedule-day-button-text-shadow-color: rgba($color-bg, .2);
$block-schedule-filter-text-shadow-color: rgba($color-bg, .2);

:host {
  @include component;
  @include page-content-width;
  //padding: 10px 0;
  //padding-left: 60px;

  @include mobile {
    padding: 0;
    width: 100%;
    margin: auto;
  }
}

@include mobile {
  padding: 0;
  width: 100%;
}

.schedule-info {
  @include text;
}

.schedule-days,
.schedule-filters {
  width: 80%;
  margin: auto;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: $font-size-h3;
    font-style: italic;
    font-weight: 600;
    color: $color-text;
  }
}

.day-list {
  padding: 0;
  margin: 1rem;
  text-align: center;

  .date {
    padding-left: 2px;
  }

  @include mobile {
    padding: 0;
    width: 100%;
    margin: .5rem;
  }

  li {
    display: inline-block;
    padding: 1rem;
    margin: 0;

    @include mobile {
      padding: 2px;
    }
  }

  .button {
    background: $color-accent-dark;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    font-family: $font-title;
    font-size: $font-size-h4;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    text-shadow: 0 -2px $block-schedule-day-button-text-shadow-color;
    text-transform: uppercase;
    transform: skew(-15deg);
    transition: background-color .1s ease-in-out;

    @include mobile {
      font-size: $font-size;
    }

    // &:hover {
    //   background-color: $color-accent;
    //   color: $color-text;
    //   transition: background-color .1s ease-in-out;
    // }
  }
}

.schedule-filters {
  text-align: center;

  .filter-list {
    padding: 0;
    margin: 1rem;

    @include mobile {
      padding: 0;
      width: 100%;
      margin: .5rem;
    }

    li {
      display: inline-block;
      padding: .5rem;
      margin: 0;
      vertical-align: middle;

      @include mobile {
        padding: 2px;
      }
    }
  }

  .filter {
    background: $color-accent;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    font-family: $font-title;
    font-size: $font-size-lg;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    text-shadow: 0 -2px $block-schedule-filter-text-shadow-color;
    text-transform: uppercase;
    transform: skew(-15deg);
    transition: background-color .1s ease-in-out;

    @include mobile {
      font-size: $font-size;
    }

    &:hover {
      background-color: $color-accent;
      color: $color-text;
      transition: background-color .1s ease-in-out;
    }

    &.active {
      background-color: $color-active-btn;
      color: $color-active-btn-text;
    }

    i {
      padding-right: 5px;
    }

    &.past {
      margin: .5rem 0;
    }
  }
}

.section-header {
  margin-bottom: 1rem;

  @include mobile {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.subtitle {
  text-align: center;
  padding: 0 0 2rem;
  color: $color-accent;
  font-weight: bold;
  font-family: $font-title;

  @include mobile {
    padding: 0 0 1rem;
  }
}

.schedule {
  margin: auto;

  .day {
    padding-bottom: 1rem;
  }
}
