<div *ngIf="loading">loading...</div>
<div *ngIf="errorMessage!==''">{{errorMessage}}</div>

<div class="schedule-info">
  <p>Times in the schedule are shown in browser's timezone.</p>
</div>

<ul class="day-list">
  <li *ngFor="let day of days">
      <div *ngIf="day.filteredEvents.length" class="button" routerLink="." [fragment]="day.title + day.date.getDate() + (day.date.getMonth() + 1)">
        <span>{{day.title}}</span>
        <span class="date" *ngIf="day.date">{{day.date | date:'d.M.'}}</span>
      </div>
  </li>
</ul>

<div class="schedule-filters">
  <ul class="filter-list">
    <li *ngFor="let filter of filters">
      <div class="filter button" [class.active]="filter.active" (click)="onFilterToggle(filter)">
        <i *ngIf="filter.icon" class="fa {{filter.icon}}"></i>{{filter.title}}</div>
    </li>
  </ul>
</div>

<div class="schedule">
  <div *ngFor="let day of days" class="day">
    <ng-container *ngIf="day.filteredEvents.length">
      <div class="section-header">
        <div class="title-border-left"></div>
        <h2 [id]="day.title + day.date.getDate() + (day.date.getMonth() + 1)">{{day.title}}</h2>
        <div class="title-border-right"></div>
      </div>
      <div class="subtitle" *ngIf="day.date">{{day.date | date:'dd.MM.yyyy'}}</div>

      <asm-block-schedule-event *ngFor="let event of day.filteredEvents; let i = index" class="event type{{i%2}}" [locations]="locations" [event]="event"></asm-block-schedule-event>
    </ng-container>
  </div>
</div>
