@import '../../common';

$lineWidth: 20px;

:host {
  @include component;
}

.partners {
  @include page-content-width;
}

.partner {
  .logo {
    padding: 15px;

    img {
      max-width: 250px;
    }
  }
}

.main-partners,
.other-partners {
  padding: 20px 0;
}

.main-partners {
  @include text;
  max-width: $width-page-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    max-width: 700px;

    .description {
      margin-top: 40px;
      position: relative;
      max-width: 650px;

      &:before {
        content: '';
        border-bottom: $border-basic $color-accent;
        display: block;
        width: 60px;
        height: 20px;
        position: absolute;
        top: -20px;
        margin: auto;
        left: 0;
        right: 0;
      }

      &:after {
        content: '';
        border-left: $border-basic $color-accent;
        display: block;
        height: 40px;
        position: absolute;
        top: -40px;
        left: 50%;
        right: 50%;
        width: 1px;
        margin: auto;
      }
    }

    .logo {
      padding: 20px;
      border-bottom: $border-basic $color-accent;
      border-radius: 15px;
      min-height: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.other-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
