@import '../../common';

$lineWidth: 80px;

:host {
  @include component;
}

.page-content.sponsors {
  @include centered-block;

  .sponsor {
    .logo {
      padding: 10px;

      img {
        max-width: 250px;
      }
    }
  }
  .main-partners, .other-sponsors {
    padding: 20px 0;
  }

  .main-partners {
    @include content;
    max-width: none;

    .sponsor {
      display: flex;
      align-items: center;
      padding: 10px 0;

      .description {
        margin-left: $lineWidth + 20px;
        position: relative;

        &:before {
          content: "";
          border-bottom: 1px solid $border;
          display: block;
          width: $lineWidth;
          height: 100%;
          position: absolute;
          bottom: 50%;
          left: -100px;
        }
        
        &:after {
          content: "";
          border-left: 1px solid $border;
          display: block;
          height: 80%;
          position: absolute;
          bottom: 10%;
          left: -20px;
        }
      }

      .logo {
        padding: 20px;
        border: 1px solid $border;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .other-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}