<asm-base [content]="content">
  <div class="partners">
    <h2>Main partners</h2>
    <div class="main-partners">
      <div class="partner" *ngFor="let partner of mainPartners">
        <div class="logo">
          <ng-container *ngIf="partner.link; else noMainPartnerLink">
            <a [href]="partner.link" target="_blank" ref="noopener">
              <img [src]="getLogo(partner.logo?.url)" [alt]="partner.title">
              <div class="partner-name">{{partner.title}}</div>
            </a>
          </ng-container>
          <ng-template #noMainPartnerLink>
            <img [src]="getLogo(partner.logo?.url)" [alt]="partner.title">
          </ng-template>
        </div>
        <!--<div class="description" *ngIf="partner.description" [markdownText]="partner.description" asmMarkdown></div>-->
      </div>
    </div>
    <ng-container *ngIf="otherPartners && otherPartners.length">
      <h2>Partners</h2>
      <div class="other-partners">
        <div class="partner" *ngFor="let partner of otherPartners">
          <div class="logo">
            <ng-container *ngIf="partner.link; else noPartnerLink">
              <a [href]="partner.link" target="_blank" ref="noopener">
                <img [src]="getLogo(partner.logo?.url)" [alt]="partner.title">
              </a>
            </ng-container>
            <ng-template #noPartnerLink>
              <img [src]="getLogo(partner.logo?.url)" [alt]="partner.title">
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</asm-base>
