<asm-base [content]="content">
  <div class="partners">
    <h2>Main partners</h2>
    <div class="main-partners">
      <div class="partner" *ngFor="let partner of mainPartners">
        <div class="logo">
          <ng-container *ngIf="partner.link; else noMainPartnerLink">
            <a [href]="partner.link" target="_blank" ref="noopener">
              <img [src]="partner.logo?.url" [alt]="partner.title">
            </a>
          </ng-container>
          <ng-template #noMainPartnerLink>
            <img [src]="partner.logo?.url" [alt]="partner.title">
          </ng-template>
        </div>
        <div class="description" *ngIf="partner.description" [innerHTML]="partner.description" asmMarkdown></div>
      </div>
    </div>
    <h2>Partners</h2>
    <div class="other-partners">
      <div class="partner" *ngFor="let partner of otherPartners">
        <div class="logo">
          <ng-container *ngIf="partner.link; else noPartnerLink">
            <a [href]="partner.link" target="_blank" ref="noopener">
              <img [src]="partner.logo?.url" [alt]="partner.title">
            </a>
          </ng-container>
          <ng-template #noPartnerLink>
            <img [src]="partner.logo?.url" [alt]="partner.title">
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</asm-base>