// Add common styling used by components here. E.g. variables.
// Import this file to component styles.

@import 'mixins';

// THEME COLORS
$text-color: #fff;
$black: #000;

$accent-color: #266eff; // blue
$accent-darker-color: #112; // darker-blue
$accent-dark-color: #133d8c; // dark-blue
$accent-light-color: #3683ff; // footer-blue

$ticket-color: #ff0; // yellow
$ticket-alt-color: #80850c; // dark-yellow

$visited-link: #7c26cb; //  purple

$bg: #000b19;
$bg-image-overlay: #151440;

$call-bg: $accent-color;
$call-bg-hover: $accent-light-color;

// FONTS AND SIZES

$text-font: 'Muli', sans-serif;
$title-font: 'Oswald', sans-serif;

$font-size: 50px;
$font-size-h1: 50px;

$page-title-size: 50px;

// BORDER
$border: $accent-color;
$border-basic: 1px solid;

// MANUAL
$manual-bg: #ccced1;
$manual-text: $accent-dark-color;

// PAGE WIDTHS
$page-background-width: 1920px;
$page-content-width: 1440px;

// CONTENT
$text-width: 1000px;

// MENU
$menu-big-height: 83px;
$menu-small-height: 41px;
$menu-section-width: 300px;
