// Add common styling used by components here. E.g. variables.
// Import this file to component styles.
@import 'mixins';

// THEME COLORS
$color-text: #fff;
$color-visited-link: #7c26cb; //  purple
$color-no-link: #808080; // grey
$color-black: #000; // black

$color-bg: #000b19;
$color-bg-overlay: #151440;

$color-accent: #266eff; // blue
$color-accent-darker: #112; // darker-blue
$color-accent-dark: #133d8c; // dark-blue
$color-accent-light: #3683ff; // footer-blue

$color-ticket: #ff0; // yellow
$color-ticket-alt: #80850c; // dark-yellow

$color-manual-bg: #ccced1;

// FONTS AND SIZES
$font-text: 'Open Sans', sans-serif;
$font-title: 'Oswald', sans-serif;

$font-size-smaller: .8em;
$font-size: 1em;
$font-size-text: 1.1em;
$font-size-ingress: 1.2em;
$font-size-cta-title: 2em;

$font-size-counter-number: 70px;
$font-size-h1: 50px;
$font-size-page-title: $font-size-h1;
$font-size-news-archive-h3: 40px;
$font-size-collapse-title: 40px;
$font-size-mobile-menu-button: 30px;
$font-size-zipper-title-icon: 25px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-footer-h4: $font-size-h4;
$font-size-frontpage-details: $font-size-h4;
$font-size-counter-text: $font-size-h4;
$font-size-news-button: 20px;
$font-size-cta: 20px;
$font-size-collapse-plus: $font-size-cta;
$font-size-zipper-link: $font-size-cta;
$font-size-h5: 1.3em;
$font-size-h6: 1.1em;
$font-size-mobile-menu-list: 18px;
$font-size-menu-item: $font-size; //16px
$font-size-copyright-tablet: $font-size-smaller;

$line-height-text: 2em;
$line-height-menu: 1.5em;

// BORDER
$border-radius: 5px;
$border-basic: 1px solid;
$border-section: 2px solid rgba($color-accent, .6);

// WIDTHS
$width-page-bg: 1920px;
$width-page-content: 1440px;
$width-text: 880px; // 1.1 x 800 px bc font-size is bigger

// MENU
$menu-big-height: 83px;
$menu-small-height: 41px;
$menu-section-width: 300px;
