// Add common styling used by components here. E.g. variables.
// Import this file to component styles.

@import 'mixins';

// text
$text-color: #fff;
$text-font: 'Muli', sans-serif;
$title-font: 'Oswald', sans-serif;

$accent-color: #266eff; // blue
$accent-dark-color: #133d8c; // dark-blue
$accent-light-color: #3683ff; // footer-blue

// navi
$ticket-color: #ff0; // yellow
$ticket-alt-color: #80850c; // dark-yellow

// links
$visited-link: #7c26cb; //  purple

// bgs
$bg: #000b19;
$bg-image-overlay: #151440;

$call-bg: #000;

$border: $accent-color;

// manual
$manual-bg: #ccced1;
$manual-text: $accent-dark-color;

// page
$page-background-width: 1440px;
$page-content-width: 1150px;
$page-title-size: 40px;

// content
$text-width: 1000px;

// menu
$menu-big-height: 83px;
$menu-small-height: 41px;
$menu-section-width: 300px;
