@mixin component($contain: content, $display: block) {
  contain: $contain;
  display: $display;
}

@mixin gradient-top($color, $secondary: $bg) {
  @include gradient(rgba($color, 0.5), rgba($secondary, 0.1));
}

@mixin gradient($color: $blue, $secondary: $darker-blue) {
  background: $color;
  background: linear-gradient($color, $secondary);
}

@mixin skewed {
  transform: skew(-15deg);
  
  * {
    transform: skew(15deg);
  }
}

@mixin page-width {
  margin: 0 auto;
  max-width: $page-background-width;
  width: 100%;
}