$tablet-width: 768px;
$desktop-width: 1024px;

@mixin component($contain: content, $display: block) {
  contain: $contain;
  display: $display;
}

@mixin gradient-top($color, $secondary: $bg) {
  @include gradient(rgba($color, 0.5), rgba($secondary, 0.1));
}

@mixin gradient($color: $blue, $secondary: $darker-blue) {
  background: $color;
  background: linear-gradient($color, $secondary);
}

@mixin skewed {
  transform: skew(-15deg);
  
  * {
    transform: skew(15deg);
  }
}

@mixin page-width {
  margin: 0 auto;
  max-width: $page-background-width;
  width: 100%;
}

@mixin centered-block {
  width: 1080px;
  max-width: 100%;
  margin: 0px auto;
}

@mixin content {
  max-width: 700px;
  padding-left: 80px;
}

@mixin list-styling {
  list-style-type: none;
  padding: 15px 25px;
  margin: 0;
  
  li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    overflow-y: hidden;

    &:before {
      content: "";
      border-bottom: 1px solid $border;
      border-left: 1px solid $border;
      display: block;
      width: 10px;
      height: 100%;
      position: absolute;
      bottom: 45%;
      left: 0;
    }
    
    &:after {
      content: "";
      border-left: 1px solid $border;
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:first-child {
      padding-top: 5px;
    }

    &:last-child { 
      &:after {
        border: none;
      }
    }
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}