@import '~normalize-scss';
@include normalize;
@import 'common';

$fa-font-path: '/assets/fonts';
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,900|Oswald');
@import 'font-awesome/font-awesome';

html {
  font-size: 100%;

  @include desktop {
    font-size: 105%;
  }
  @include retina {
    font-size: 110%;
  }
}


body {
  background: $color-bg;
  font-family: $font-text;

  * {
    box-sizing: border-box;
  }

  &.mobile-menu-open {
    overflow: hidden;
  }
}

.centered-block {
  @include centered-block;
}

.skewed {
  @include skewed;
}

table {
  column-gap: 0;
  border: $border-basic $color-text;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $border-radius;
  max-width: 100%;

  th {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: $font-size-text;
  }

  td,
  th {
    padding: 10px 20px;
    border-right: $border-basic $color-text;
    border-bottom: $border-basic $color-text;

    &:last-child {
      border-right: 0;
    }
  }

  tr:last-child {
    td {
      border-bottom: 0;
    }
  }

  @include mobile {
    font-size: $font-size-table-m;

    td,
    th {
      padding: 5px 10px;
    }
  }
}

h2 {
  font-size: $font-size-h1;
  font-family: $font-title;
  text-transform: uppercase;
  position: relative;
  text-align: left;

  @include mobile {
    font-size: $font-size-h2-m;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 85px;
    border-bottom: $border-basic $color-accent;
  }
}

h3 {
  color: $color-heading;
  font-size: $font-size-h3;
  margin: 30px 0 10px;
  text-align: left;
}

h4 {
  color: $color-heading;
  font-size: $font-size-h4;
  margin: 20px 0 5px;
  text-align: left;
}

h5,
h6,
h7 {
  font-size: $font-size-h5;
  color: $color-text;
  margin: 15px 0 5px;
  display: block;
}

h6,
h7 {
  font-size: $font-size-h6;
}

a:link {
  color: $color-link;
}

a:visited {
  color: $color-link-visited;
}

pre {
  white-space: pre-wrap;
}

b,
strong {
  font-weight: 900;
}

blockquote {
  color: $color-text;
  display: inline-block;
  font-style: italic;
  line-height: 1.6;
  margin: 1em;
  padding: 1.2em 60px;
  position: relative;

  &:before {
    color: $color-accent;
    content: "\201C";
    font-family: $font-family-blockquote-icon;
    font-size: $font-size-blockquote-icon;
    left: 10px;
    position: absolute;
    top: -15px;
  }

  &:after {
    bottom: -0.75em;
    color: $color-accent;
    content: "\201D";
    font-family: $font-family-blockquote-icon;
    font-size: $font-size-blockquote-icon;
    position: absolute;
    right: 15px;
  }
}

[asmMarkdown] {
  ul {
    @include list-styling;
    //line-height: $line-height-menu;
  }

  p {
    line-height: $line-height-text;
    font-size: $font-size-text;
    text-align: justify;

    @include mobile {
      font-size: $font-size-base;
    }
  }

  img {
    max-width: 100%;
  }
  @include tablet {
    overflow-x: auto; // overflowing tables "fix"
  }

  ol li {
    line-height: 2em;
    font-size: $font-size-base;
    position: relative;
    padding: .5em 2em;
    padding-top: .5em;

    &:before {
      content: '';
      border-bottom: $border-basic $color-accent;
      border-left: $border-basic $color-accent;
      color: $color-accent;
      display: block;
      width: 1em;
      position: absolute;
      height: 1.5em;
      left: -40px;
      top: 0;
    }

    &:after {
      content: '';
      border-left: $border-basic $color-accent;
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: -40px;
    }

    &:last-child::after {
      border: 0;
    }

    ol {
      padding-left: 0;
    }
  }

}

.section-header {
  @include page-width;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: $font-size-page-title;
  overflow: hidden;

  .title-border-left,
  .title-border-right {
    @include skewed;
    flex-shrink: 0;
    height: calc(#{$font-size-page-title} - 10px);
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .title-border-left {
    border-right: $border-section;
    margin-right: 10px;

    &:before {
      content: '';
      width: 100%;
      border-bottom: $border-section;
      display: block;
    }
  }

  .title-border-right {
    border-left: $border-section;
    margin-left: 20px;

    &:after {
      content: '';
      width: 100%;
      border-bottom: $border-section;
      display: block;
    }
  }

  h2 {
    color: $color-text;
    flex-shrink: 0;
    font-family: $font-title;
    font-size: $font-size-h1;
    font-style: italic;
    font-weight: 600;
    line-height: $font-size-h1;
    margin-bottom: 4px;
    margin: 0;
    max-width: 85%;
    text-transform: uppercase;

    @include mobile {
      font-size: $font-size-h2-m;
    }

    &:before {
      display: none;
    }
  }
}
