@import '~normalize-scss';
@include normalize;
@import 'common';

$fa-font-path: "/assets/fonts";
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import 'font-awesome/font-awesome';

body {
  background: $bg;
}

.centered-block {
  @include centered-block;
}

.skewed {
  @include skewed;
}

.markdown-content {
  ul {
    @include list-styling;
  }
}


table {
  column-gap: 0;
  border: 1px solid $blue;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;

  th {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
  }
  td, th {
    padding: 10px 20px;
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;

    &:last-child { 
      border-right: none;
    }
  }

  tr:last-child {
    td { 
      border-bottom: none;
    }
  }
}

h2 {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 85px;
    border-bottom: 1px solid $border;
  }
}

h3 {
  color: $blue;
  font-size: 24px;
  margin: 30px 0 10px;
}

a:link {
    color: $blue;
}

a:visited {
    color: $purple;
}