@import '~normalize-scss';
@include normalize;
@import 'common';

$fa-font-path: '/assets/fonts';
@import url('//fonts.googleapis.com/css?family=Muli:400,900');
@import url('//fonts.googleapis.com/css?family=Oswald');
@import 'font-awesome/font-awesome';

body {
  background: $color-bg;
  font-family: $font-text;

  * {
    box-sizing: border-box;
  }
}

.centered-block {
  @include centered-block;
}

.skewed {
  @include skewed;
}

table {
  column-gap: 0;
  border: $border-basic $color-text;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;

  th {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 1.1em;
  }

  td,
  th {
    padding: 10px 20px;
    border-right: $border-basic $color-text;
    border-bottom: $border-basic $color-text;

    &:last-child {
      border-right: 0;
    }
  }

  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
}

h2 {
  font-size: $font-size-h1;
  font-family: $font-title;
  text-transform: uppercase;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 85px;
    border-bottom: $border-basic $color-accent;
  }
}

h3 {
  color: $color-accent;
  font-size: $font-size-h3;
  margin: 30px 0 10px;
}

a:link {
  color: $color-accent-light;
}

a:visited {
  color: $color-visited-link;
}

pre {
  white-space: pre-wrap;
}

b,
strong {
  font-weight: 900;
}

[asmMarkdown] {
  ul {
    @include list-styling;
  }
  p {
    line-height: 1.5em;
  }
}