$tablet-width: 768px;
$desktop-width: 1440px;
$retina-width: 1680px;

@mixin component($contain: content, $display: block) {
  contain: $contain;
  display: $display;
}

@mixin gradient-top($color, $secondary: $color-bg) {
  @include gradient(rgba($color, .5), rgba($secondary, .1));
}

@mixin gradient($color: $color-accent, $secondary: $color-accent-darker) {
  background-color: $color;
  background: linear-gradient($color, $secondary);
}

@mixin header-gradient {
  @include gradient($color-header-gradient-start, $color-header-gradient-end);
}

@mixin skewed {
  transform: skew(-15deg);

  * {
    transform: skew(15deg);
  }
}

@mixin page-width { // full page width
  margin: 0 auto;
  max-width: $width-page-bg;
  width: 100%;
}

@mixin page-content-width { // page content area
  @include centered-block;
}

@mixin centered-block {
  width: $width-page-content;
  max-width: 100%;
  margin: 0 auto;
}

@mixin text {
  max-width: $width-text;
  padding-left: 10px;
}

@mixin list-styling {
  list-style-type: none;
  padding: $font-size #{$font-size * 1.5};
  margin: 0;
  line-height:  #{$font-size * 2};
  font-size: $font-size;

  li {
    position: relative;
    display: block;
    padding: #{$font-size / 2} #{$font-size * 2};
    overflow-y: hidden;
    text-align: left;

    &:before {
      content: '';
      border-bottom: $border-basic $color-accent;
      border-left: $border-basic $color-accent;
      display: block;
      width: $font-size;
      position: absolute;
      height: #{$font-size * 1.5};
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      border-left: $border-basic $color-accent;
      display: block;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:first-child {
      padding-top: #{$font-size / 2};
    }

    &:last-child {
      &:after {
        border: 0;
      }
    }

    ul {
      margin: 0;
      padding: $font-size 0 0;
    }
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1px}) {
    @content;
  }
}

@mixin retina {
  @media (min-width: #{$retina-width}) {
    @content;
  }
}

@mixin screen-small {
  @media (max-width: 1124px) {
    @content;
  }
}

@function rem($size) {
  $remsize: $size / 16;
  @return #{$remsize}rem;
}

@function px($size) {
  $pxsize: $size * 16;
  @return #{$pxsize}px;
}
