@import '../../../common';

:host {
  @include component;
  @include page-content-width;
  padding: 10px 0;
  padding-left: 60px;

  @include mobile {
    padding-left: 10px;
  }
}

h2 {
  cursor: pointer;
  font-size: $font-size-collapse-title;
  border-bottom: $border-basic $color-accent;
  height: 26px;
  margin-bottom: 35px;
  margin-top: 10px;

  &:before {
    border: None;
  }

  span.fa {
    font-size: $font-size-collapse-fa;
    line-height: #{$font-size-collapse-title - 2px};
    width: #{$font-size-collapse-title - 2px};
    display: inline-block;
    background-color: $color-accent;
    text-align: center;
    //-webkit-border-radius: 3px;
    //-moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    top: -9px;
  }

  .container {
    padding-left: 20px;
    //background-color: $color-accent;
    background-color: $color-bg;

    @include mobile {
      padding-left: 0;
    }

    .rightline {
      height: 30px;
      display: inline-block;
      padding-right: 15px;
      border-right: $border-basic $color-accent;
    }
  }
}

.innercontent {
  padding: 20px;
  padding-top: 0;
  padding-left: 70px;

  &.hide {
    display: none;
  }

  @include mobile {
    padding-left: 10px;
  }
}
