@import '../../../common';

:host {
  @include component;
  @include page-width;
}

.articles {
  @include page-content-width;
  padding: 20px 0;

  .article {
    padding: 10px;
    padding-left: 20px;
    border: $border-basic $color-accent;
    border-radius: $border-radius;
    margin-bottom: 10px;
    min-height: 250px;
    display: flex;

    .title {
      text-decoration: none;

      h3 {
        text-align: left;
        color: $color-text;
        font-family: $font-title;
        font-weight: 400;
        text-transform: uppercase;
        font-size: $font-size-news-archive-h3;
        margin: 0;
        padding: 10px 0;
      }

      &:hover {
        h3 {
          color: $color-accent;
        }
      }
    }

    .ingress {
      font-size: $font-size-text;
      line-height: $line-height-menu;
    }

    .published {
      text-transform: uppercase;
      font-family: $font-title;
      color: $color-accent;
    }

    .article-content {
      flex-grow: 1;
    }

    .article-image {
      min-width: 125px;
      max-width: 360px;
      width: 40%;
      flex-shrink: 0;
      background-position: top center;
      background-size: auto 250px;
      background-repeat: no-repeat;
      margin-left: 2em;
      min-height: 250px;
    }

    .link {
      font-family: $font-title;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 20px;
      color: $color-text;
      font-size: $font-size-news-button;
      text-decoration: none;
      border: $border-basic $color-text;
      border-radius: $border-radius;

      .fa {
        margin-left: 10px;
        font-size: $font-size;
      }

      &:hover {
        color: $color-bg;
        background-color: $color-text;
      }
    }

    @include mobile {
      flex-direction: column-reverse;

      .article-image {
        height: 250px;
        margin-left: 0;
        margin-bottom: 1em;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
