<asm-base [content]="content">
  <asm-block-sponsors></asm-block-sponsors>
  <div class="articles">
    <div class="article" *ngFor="let article of articles">
      <img [src]="article.featuredImage?.url || '/assets/images/background-picture.jpg'" [alt]="article.title">
      <span class="published" *ngIf="article.date">{{article.date | date:'dd.MM.yyyy'}}</span>
      <a class="title" [routerLink]="article.slug"><h3>{{article.title}}</h3></a>
      <p class="ingress" *ngIf="article.ingress">{{article.ingress}}</p>
      <a class="link" [routerLink]="article.slug">Read more<span class="fa fa-long-arrow-right"></span></a>
    </div>
  </div>
</asm-base>