@import '../../../common';

:host {
  @include component;
}

.sponsors {
  @include page-content-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .sponsor {
    height: 190px;
    width: 25%;
    min-width: 120px;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 100%;
      //min-width: 200px;
    }

    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ .sponsor {
      width: 20%;
    }
    &:first-child:nth-last-child(6),
    &:first-child:nth-last-child(6) ~ .sponsor {
      width: 16%;
    }
    &:first-child:nth-last-child(7),
    &:first-child:nth-last-child(7) ~ .sponsor {
      width: 14%;
    }


    @include mobile {
      width: 25%;
      max-width: 200px;
      height: 120px;

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .sponsor,
      &:first-child:nth-last-child(6),
      &:first-child:nth-last-child(6) ~ .sponsor,
      &:first-child:nth-last-child(7),
      &:first-child:nth-last-child(7) ~ .sponsor {
          width: 25%;
          min-width: 100px;
          height: auto;
      }
    }
    @include tablet {
      width: 25%;
      height: 170px;
    }
  }
}
